<p-toast></p-toast>
<section>
  <div class="close-icon" mat-dialog-actions>
    <button mat-icon-button color="warn" (click)="onClose()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title>Event Registeration form</h2>
  <form mat-dialog-content [formGroup]="form">
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        formControlName="userName"
        placeholder="Your Name"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
      <input
        type="text"
        pInputText
        formControlName="teamMembersName"
        placeholder="Team Members Name(Sperate it by ,(Comma))"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-slack"></i></span>
      <input
        type="text"
        pInputText
        formControlName="teamName"
        placeholder="Team Name"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
      <input
        type="text"
        pInputText
        formControlName="rollno"
        placeholder="Your Roll-No."
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>

      <input
        type="email"
        formControlName="email"
        pInputText
        placeholder="Email"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
      <input
        type="number"
        formControlName="phone"
        pInputText
        placeholder="Mobile Number (Whatsapp No.)"
      />
    </div>
    <div class="p-inputgroup p-mb-3 p-mt-3">
      <span class="p-inputgroup-addon"><i class="pi pi-box"></i></span>
      <input
        type="text"
        formControlName="department"
        pInputText
        placeholder="Department"
      />
    </div>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Select the Event</mat-label>
      <mat-select formControlName="subEventName">
        <mat-option *ngFor="let event of availableEvents" [value]="event">
          {{ event }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <button
      pButton
      pRipple
      type="submit"
      label="Submit"
      class="p-button-success p-mt-2"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      *ngIf="!isLoading"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Close"
      class="p-button-danger p-ml-3"
      (click)="onClose()"
    ></button>
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
  </form>
</section>
