<p-toast></p-toast>
<section>
  <div class="close-icon" mat-dialog-actions>
    <button mat-icon-button color="warn" (click)="onClose()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <h2 mat-dialog-title>Add New Admin</h2>
  <form mat-dialog-content [formGroup]="form">
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        formControlName="name"
        placeholder="Username"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>

      <input
        type="email"
        formControlName="email"
        pInputText
        placeholder="Email"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
      <input
        type="password"
        formControlName="password"
        pInputText
        placeholder="password"
      />
    </div>
    <div class="p-inputgroup p-mb-4">
      <span class="p-inputgroup-addon"><i class="pi pi-box"></i></span>
      <input
        type="text"
        formControlName="department"
        pInputText
        placeholder="Department"
      />
    </div>
    <h3 style="margin: 0">Is Admin</h3>
    <p-inputSwitch class="p-mb-4" formControlName="isAdmin"></p-inputSwitch
    ><br />
    <button
      pButton
      pRipple
      type="button"
      label="Submit"
      class="p-button-success p-mt-3"
      (click)="onSubmitForm()"
      *ngIf="!isLoading"
    ></button>
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
  </form>
</section>
