<section>
  <mat-card class="p-text-center">
    <mat-card-title class="p-mt-5">
      <h2 class="p-text-bold p-text-uppercase">Have Some Questions?</h2>
      <h2>Feel Free to Contact Us!</h2>
    </mat-card-title>
    <mat-card-content
      class="p-d-flex p-mt-5 p-text-center p-flex-column p-flex-md-row p-jc-center"
    >
      <div class="img p-mr-5">
        <img
          src="../../assets/streamline-icon-flying-envelope@400x400.png"
          alt="Mail Image"
          [width]="300"
        />
      </div>
      <div class="contact-form p-ml-5 p-mt-5">
        <a href="mailto:moneshms.19eie@kongu.edu" target="_blank"
          >Click Here,</a
        >
        to send a Mail
      </div>
    </mat-card-content>
  </mat-card>
</section>
