section {
  margin-top: 15px;
  mat-card {
    width: 90%;
    margin: auto;
    height: 85vh;

    .add-button {
      text-align: right;
      margin-right: 20px;
      margin-bottom: 0;
      mat-icon {
        margin-top: -3px;
      }
    }
  }
}
