<p-toast></p-toast>
<section>
  <mat-card>
    <mat-card-actions>
      <div class="back-button">
        <button (click)="goBack()" mat-button color="warn">
          <mat-icon>keyboard_arrow_left</mat-icon>Back
        </button>
      </div>
      <div class="add-button">
        <button
          mat-flat-button
          color="primary"
          (click)="showAdminAddDialog()"
          pTooltip="Click to add a new Admin"
          tooltipPosition="bottom"
        >
          <mat-icon>add</mat-icon> Add New Admin
        </button>
      </div>
    </mat-card-actions>
    <h2>Showing List of All Available Admins,</h2>
    <div class="card">
      <p-table
        [value]="admins"
        [scrollable]="true"
        scrollHeight="400px"
        responsiveLayout="scroll"
        styleClass="p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              email <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="department">
              department <p-sortIcon field="department"></p-sortIcon>
            </th>
            <th>Is Admin</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admin>
          <tr>
            <td>{{ admin.name | titlecase }}</td>
            <td>{{ admin.email | lowercase }}</td>
            <td>{{ admin.department | uppercase }}</td>
            <td>
              <i
                class="pi"
                [ngClass]="{
                  'true-icon pi-check-circle': admin.isAdmin,
                  'false-icon pi-times-circle': !admin.isAdmin
                }"
              ></i>
            </td>
            <td>
              <button
                *ngIf="admin._id !== id"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined mr-3"
                pTooltip="Delete Admin"
                (click)="deleteAdmin(admin._id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-card>
</section>
