section {
  margin-top: 15px;
  mat-card {
    width: 90%;
    margin: auto;
    height: 85vh;

    &-content {
      .img {
        text-align: center;
        img {
          width: 160px;
        }
      }
    }
  }
}
