<p-toast></p-toast>
<section>
  <mat-card>
    <div class="back-button">
      <button (click)="goBack()" mat-button color="warn">
        <mat-icon>keyboard_arrow_left</mat-icon>Back
      </button>
    </div>
    <mat-card-title>
      <h2>You Can Add a New Event Here,</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="grid">
        <div class="col-12">
          <form [formGroup]="form">
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 lg:col-4">
                <label for="name">Event-Name</label>
                <input
                  formControlName="name"
                  id="name"
                  type="text"
                  pInputText
                />
                <small
                  *ngIf="form.touched && !form.get('name').value"
                  class="p-error"
                  >Event-Name is required</small
                >
              </div>
              <div class="field col-12 lg:col-4">
                <label for="venue">Event-Venue</label>
                <input
                  formControlName="venue"
                  id="venue"
                  type="text"
                  pInputText
                />
                <small
                  *ngIf="form.touched && !form.get('venue').value"
                  class="p-error"
                  >Event-Venue is required</small
                >
              </div>
              <div class="field col-12 lg:col-4">
                <label for="mode">Event-Venue</label>
                <p-dropdown
                  [options]="mode"
                  formControlName="mode"
                  id="mode"
                  placeholder="Select Event Mode"
                  [showClear]="true"
                ></p-dropdown>
                <small
                  *ngIf="form.touched && !form.get('mode').value"
                  class="p-error"
                  >Event-Mode is required</small
                >
              </div>
              <div class="field col-12 lg:col-4">
                <label for="dateformat">Registration Start-Date</label>
                <p-calendar
                  formControlName="registrationStart"
                  dateFormat="dd-mm-yy"
                  inputId="dateformat"
                ></p-calendar>
                <small
                  *ngIf="form.touched && !form.get('registrationStart').value"
                  class="p-error"
                  >Event Registration Starting-Date is required</small
                >
              </div>
              <div class="field col-12 lg:col-4">
                <label for="dateformat">Registration End-Date</label>
                <p-calendar
                  formControlName="registrationEnd"
                  dateFormat="dd-mm-yy"
                  inputId="dateformat"
                ></p-calendar>
              </div>
              <div class="field col-12 lg:col-4">
                <label for="dateformat">Event Date</label>
                <p-calendar
                  formControlName="eventDate"
                  dateFormat="dd-mm-yy"
                  inputId="dateformat"
                ></p-calendar>
                <small
                  *ngIf="form.touched && !form.get('eventDate').value"
                  class="p-error"
                  >Event-Date is required</small
                >
              </div>
              <div class="field col-8">
                <label for="description">Describe About the Event</label><br />
                <p-editor
                  id="description"
                  formControlName="description"
                  [style]="{ height: '120px' }"
                >
                  <ng-template pTemplate="header">
                    <span class="ql-formats">
                      <button
                        type="button"
                        class="ql-bold"
                        aria-label="Bold"
                      ></button>
                      <button
                        type="button"
                        class="ql-italic"
                        aria-label="Italic"
                      ></button>
                      <button
                        type="button"
                        class="ql-underline"
                        aria-label="Underline"
                      ></button>
                    </span> </ng-template
                ></p-editor>
              </div>
              <div class="field col-4">
                <label for="image">Event Image/Poster</label><br />
                <p-fileUpload
                  mode="basic"
                  name="demo"
                  accept="image/*"
                  maxFileSize="5000000"
                  customUpload="true"
                  (uploadHandler)="onUpload($event)"
                  chooseLabel="Browse"
                  [auto]="true"
                >
                </p-fileUpload>
                <img
                  [src]="imageDisplay"
                  alt=""
                  [width]="100"
                  style="margin-top: 5px"
                />
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"
              label="Submit"
              class="p-button-raised p-button-success mr-4"
              (click)="onSubmit()"
              [disabled]="form.invalid"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Clear"
              class="p-button-raised p-button-danger mr-4"
              (click)="clearForm()"
              pTooltip="Clear Form"
              tooltipPosition="top"
            ></button>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
