<section *ngIf="eventDetail">
  <mat-card>
    <p-messages [(value)]="msgs"></p-messages>
    <div class="button">
      <button
        *ngIf="isAdmin"
        mat-flat-button
        (click)="openShowRegistration()"
        color="accent"
      >
        <mat-icon> layers</mat-icon>
        Show Registration
      </button>
    </div>
    <mat-card-title>
      <h1 class="p-text-bold" style="font-size: 24px">
        {{ eventDetail.name }}
      </h1>
    </mat-card-title>
    <mat-card-content>
      <div class="p-d-block p-d-md-flex p-mb-5">
        <div class="img">
          <img [src]="eventDetail.image" [alt]="eventDetail.name" />
        </div>
        <div class="details">
          <h3 class="p-mt-5 p-mt-md-0">
            Venue: <span>{{ eventDetail.venue }}</span>
          </h3>
          <br />
          <h3>
            Organised By: <span>{{ eventDetail.organisation }}</span>
          </h3>
          <br />
          <h3>
            Mode: <span>{{ eventDetail.mode }}</span>
          </h3>
          <br />
          <h3>
            Date: <span>{{ eventDetail.eventDate | date: "dd/MM/yyyy" }}</span>
          </h3>
          <br />
          <button
            mat-flat-button
            (click)="onClickedRegister()"
            [disabled]="isRegistrationAvailable"
            color="primary"
          >
            Register
          </button>
        </div>
      </div>
    </mat-card-content>
    <div
      class="below-section p-d-flex p-flex-column p-flex-md-row p-jc-evenly p-mt-5 p-pt-5"
    >
      <div class="available-events">
        <h1>The Available Events in {{ eventDetail.name | titlecase }} are,</h1>
        <ul *ngFor="let event of eventArray">
          <li>{{ event }}</li>
        </ul>
      </div>
      <div class="description p-mt-5 p-mt-md-0">
        <h1 class="p-mb-0">Description (About the event & Rules):</h1>
        <br />
        <div class="p-ml-5" [innerHTML]="eventDetail.description"></div>
      </div>
    </div>
  </mat-card>
</section>

<p-dialog
  header="Confirmation"
  [(visible)]="showConfirmDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    Please read about the available Events and their rules. Once, you have
    registered only it can be Edited & cannot be Deleted. <br />
    <br />
    <span>Note:</span> If Its a team event try to avoid duplicate entries!
  </p>
  <ng-template pTemplate="footer">
    <p-button
      (click)="showConfirmDialog = false"
      label="Cancel"
      styleClass="p-button-text p-button-danger"
    ></p-button>
    <p-button
      (click)="onRegisterForEvent()"
      label="Continue"
      styleClass="p-button-text p-button-success"
    ></p-button>
  </ng-template>
</p-dialog>
