<section *ngIf="eventDetail">
  <mat-card>
    <mat-card-title>
      <h1 class="p-text-bold" style="font-size: 24px">
        {{ eventDetail.name }}
      </h1>
    </mat-card-title>
    <mat-card-content>
      <div class="p-d-flex p-flex-column p-flex-md-row">
        <div class="img">
          <img [src]="eventDetail.image" [alt]="eventDetail.name" />
        </div>
        <div class="details">
          <h3>
            Venue: <span>{{ eventDetail.venue }}</span>
          </h3>
          <br />
          <h3>
            Organised By: <span>{{ eventDetail.organisation }}</span>
          </h3>
          <br />
          <h3>
            Mode: <span>{{ eventDetail.mode }}</span>
          </h3>
          <br />
          <h3>
            Date: <span>{{ eventDetail.eventDate | date: "dd/MM/yyyy" }}</span>
          </h3>
          <br />
        </div>
      </div>
    </mat-card-content>
    <div class="available-events">
      <h1>The Available Events in {{ eventDetail.name | titlecase }} are,</h1>
      <ul *ngFor="let event of eventArray">
        <li>{{ event }}</li>
      </ul>
    </div>
  </mat-card>
</section>
