<section>
  <div class="title">
    <h1>Events Going on, Right Now!</h1>
  </div>
  <article>
    <div class="category">
      <a (click)="onEventClicked(events[events?.length - 1]._id)">{{
        events[events?.length - 1].name
      }}</a>
      <a (click)="onEventClicked(events[events?.length - 2]._id)">{{
        events[events?.length - 2].name
      }}</a>
      <a (click)="onEventClicked(events[events?.length - 3]._id)">{{
        events[events?.length - 3].name
      }}</a>
      <a (click)="onEventClicked(events[events?.length - 4]._id)">{{
        events[events?.length - 4].name
      }}</a>
      <a (click)="onEventClicked(events[events?.length - 5]._id)">{{
        events[events?.length - 5].name
      }}</a>
    </div>
  </article>
</section>
